.grid-container{
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
     grid-template-columns: 200px 250px;
    /* grid-template-columns: repeat(4fr, 10px);; */
     /* grid-template-rows: 200px 150px; */
     grid-auto-rows: minmax(150px,auto);
}
.grid-item-1{
    background-color: blanchedalmond;
    padding: 20px 30px;
    border: 2px solid white;
}
.grid-item-2{
    background-color:blue;
    padding: 20px 30px;
    border: 2px solid white;
}
.grid-item-3{
     background-color: green;
     padding: 20px 30px;
     border: 2px solid white;
}
.grid-item-4{
    background-color: rgb(113, 128, 0);
    padding: 20px 30px;
    border: 2px solid white;
}
.grid-item-5{
    background-color: rgb(128, 0, 36);
    padding: 20px 30px;
    border: 2px solid white;
}

